html {
    font-family: 'Merriweather', serif;
    line-height: 2;
}

h1 {
    font-size: 3.5rem;
    font-weight: 700;
}
h2 {
    font-size: 2rem;
}

.wrapper {
    width: 80vw;
    margin: 0 auto;
}

nav {
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}


.nav-logo img {
    height: 75px;
}

.nav-menu li {
    display: inline-block;
    margin-right: 3rem;
}

.nav-menu a:hover {
    text-decoration: none;
}

.nav-menu li:last-of-type {
    border: medium solid var(--clr-green);
    border-radius: 0.5em;
    padding: 0.5em;
}

.hero {
    position: relative;
    height: 75vh;
    background-image: url(../assets/nature-red.jpg);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.hero-text {
    color: var(--text-light);
    background: rgba(0, 0, 0, 0.700);
    min-width: 325px;
    position: absolute;
    height: 50%;
    width: 45%;
    top: 25%;
    right: 10%;
}

.leader {
    margin: 10vh auto;
    height: 50vh;
    width: 80%;
    display: flex;
    flex-direction: row;
    column-gap: 2em;
    justify-content: space-around;
    align-items: center;
}

.leader-text {
    height: 50%;
    padding: 1em;
}

/* .leader-image {
    size: 100% auto;
} */

.leader img {
    max-width: 100%;
    min-width: 250px;
    border-radius: 5px;

}

.cards {
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.card-header {
    grid-column: 1 / 8;
    grid-row: 1 / 2;
    text-align: center;
}

.card-items {
    text-align: center;
    font-size: 2rem;
    color: var(--text-light);
    border: solid medium var(--clr-green);
    border-radius: 0.3em;
    height: 25vh;
    /* padding: 1rem; */
    
}

.card-items h3 {
    background: rgba(0, 0, 0, 0.5);
    
}

.card1 {
    grid-column: 1/4;
    grid-row: 2/4;
    background-image: url(../assets/kongler.jpg);
    background-size: cover;
}
.card2 {
    grid-column: 3/6;
    grid-row: 3/5;
    background-image: url(../assets/sopp.jpg);
    background-size: cover;
}
.card3 {
    grid-column: 5/8;
    grid-row: 4/6;
    background-image: url(../assets/bark.jpg);
    background-size: cover;
}

.saker {
    margin: 0 1em;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
    line-height: 1.7;
}

.saker h2 {
    text-align: center;
}

.nyhetsbrev {
    margin-top: 3rem;
    padding: 2em;
    font-size: 1.2rem;
    text-align: center;
    height: min-content; 
    background-image: url(../assets/nature-green-small.jpg);
    background-position: center;
}

.nyhetsbrev h3 {
    color: var(--text-light);
    background: rgba(0, 0, 0, 0.7);
    margin-bottom: 2rem;
}

.nyhetsbrev input {
    font-size: 1.2rem;
    padding: 0.5em;
}

.nyhetsbrev .btn {
    background: var(--clr-green);
    color: var(--text-light);
}



.footer {
    width: 100vw;
    position: absolute;
    left: 0;
    background: var(--clr-green);
    padding: 3em;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
}

.feet {
    background: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

/* 
.left-foot {
}

.middle-foot {
}

.right-foot {    
} */

.right-foot img {
    width: 2em;
}


